.profile-card {
  height: 32rem;
}

.container-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  background: #63c1dd;
  border-radius: 50%
}

.person-icon {
  font-size: 100px;
  width: 100px;
}

.panel-delete {
  width: 288px;
  height: 60px;
  background-color: #fff;

  border-radius: 4px;

}

.delete-forever {
  width: 34px;
}

.btn-switch {
  display: flex;
  margin-top: 15px;

}

.container-password {
  margin-left: 24px;
  position: relative;
  bottom: 50px;
}
