<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form (ngSubmit)="signup(formRegister)" #formRegister="ngForm">

      <div style="display: inline-grid; margin: 10px">
        <mat-form-field>
          <input matInput placeholder="email" ngModel type="email" name="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password" ngModel type="password" name="password" required>
        </mat-form-field>

        <label *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</label>
        <label *ngIf="successMessage" class="alert alert-success">{{successMessage}}</label>

        <div class="button-col">
          <button mat-stroked-button type="button" [disabled]="formRegister.invalid"
            (click)="signup(formRegister)">Zarejestruj</button>

        </div>
        <a style="cursor: pointer; margin-top: 20px;" (click)="transitionBtnTab()">Back
          login</a>
      </div>

    </form>

  </mat-card-content>

</mat-card>
