<div style="text-align: center;">
  <h1 mat-dialog-title>Hej {{question.author}}</h1>
  <div mat-dialog-content>
    <p>Zadaj pytanie</p>
    <mat-form-field style="width: 20rem;">
      <mat-label>text</mat-label>
      <input matInput [(ngModel)]="question.query">
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: center;">
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button [disabled]="!question.query" mat-button [mat-dialog-close]="question.query"
      (click)="addQuestion()">Ok</button>
  </div>
</div>
