  <div class="main-question">

    <h4>{{title}}</h4>

    <ng-container *ngIf="authService.user else noUser">
      <button mat-raised-button color="primary" type="button" (click)="openDialog()">New Question</button>

    </ng-container>
    <ng-template #noUser>
      <p>Aby zadać pytanie, zaloguj się.</p>
      <button mat-raised-button color="accent" type="button" (click)="goToLogin()">Zaloguj się</button>

    </ng-template>

    <ng-container *ngFor="let question of questions; let i=index">
      <mat-list>

        {{i+1}}

        <div class="panel" (click)="goToAnswer(question, i)">
          <mat-list-item>{{question.query}}
            <span style="margin-left: 25px;">
              <mat-icon>face</mat-icon>{{question.author}}
            </span>
          </mat-list-item>
        </div>

        <!--start ans-votes-->
        <div class="ans-votes">

          <div class="answers">
            <span>({{question.answer}})Answers</span>
          </div>

          <div class="votes">
            <a style="margin-right: 45px;">{{question.votes}}</a>

            <button mat-raised-button color="primary" (click)="addVoteQuestion(question, 1)">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="addVoteQuestion(question, -1)">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>

        </div>
        <!--end ans-votes-->

        <mat-divider></mat-divider>
      </mat-list>

    </ng-container>


  </div>
