<nav>
  <ul>
    <h4> LearnAngular </h4>
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/about/48" routerLinkActive="active">About</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!authService.user" routerLink="/login" routerLinkActive="active">Zaloguj</a>
    </li>
    <li class="nav-item">
      <a *ngIf="authService.user" routerLink="/login" (click)="logout()">Wyloguj</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
