p {
  padding: 5px;
  height: 2rem;
}

li {
  background: rgb(115, 107, 151);
  margin: 5px;
  padding: 15px;
  width: 40rem;
  height: 10rem;
}

/*nieparzysty element listy*/
.odd-li {
  background: rgb(142, 128, 206);
}

/*ostatni element listy*/
.last-li {
  background: rgb(241, 162, 175);
  margin: 5px;
}

.fa {
  cursor: pointer;
}

.update-btn {
  margin-left: 5px;
}

@media(max-width: 992px) {
  li {
    width: 100%;
    height: auto;
  }
}
