p {
  padding: 5px;
}

li {
  background: rgb(115, 107, 151);
  margin: 5px;
  padding: 15px;
}

/*nieparzysty element listy*/
.odd-li {
  background: rgb(142, 128, 206);
}

/*ostatni element listy*/
.last-li {
  background: rgb(241, 162, 175);
  margin: 5px;
}
.editTask{
  cursor: pointer;
}

.update-btn {
  margin-left: 5px;
}
