p {
  padding: 5px;
  height: 2rem;
}

li {
  background: rgb(115, 107, 151);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  margin: 5px;
  padding: 15px;
  width: 40rem;
  height: 10rem;
}

/*nieparzysty element listy*/
.odd-li {
  background: rgb(142, 128, 206);
}

/*ostatni element listy*/
.last-li {
  background: rgb(241, 162, 175);
  margin: 5px;
}

.fa {
  cursor: pointer;
}

.update-btn {
  margin-left: 5px;
}

@media(max-width: 992px) {
  li {
    width: 100%;
    height: auto;
  }
}
