/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-y: overlay;
}

body {
  padding: 3em;
  background-image: linear-gradient(45deg, #9a87eb 0%, #c2b7f3 99%, #c2b7f3 100%);

  color: rgb(238, 238, 238) !important;
}

ul {
  list-style-type: none;
  padding-top: 7px;
}

ul li a {
  font-size: 1.5em;
}

a {
  color: #333 !important;
  text-decoration: none !important;
}

.question {
  font-size: 1.0em !important;

}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.button-col {
  display: inline-grid;
  margin-top: 8px;
}

.mat-menu-panel {
  background: rgb(115, 107, 151);
}

.mat-tab-labels {
  justify-content: center;
}

/*
login/register */

.alert {
  margin: 0px;
}

.account-txt,
.click-a {
  text-align: center;
  cursor: pointer;
}

.account-txt {
  margin-top: 10px;
}

/* style button */
.mat-stroked-button {
  background-color: rgba(171, 170, 190, 0.5);
}

.main-div,
.login-div,
.register-div {
  display: flex;
  justify-content: center;
}

.main-div {
  margin-top: 50px;

}

.mat-card {
  text-align: center;
  width: 20rem;
  height: 22rem;
  border-radius: 0px;
  color: rgba(131, 131, 153);

}

.edit-btn {
  display: none;

}

.show-btn {
  display: flex;

}

.edit-panel {
  transition: 0.5s ease-in-out;
  transform: translateY(-200%);
  position: relative;
  z-index: -1;
}

.drawer-panel {
  transform: translateY(0) !important;
}

.mat-tooltip {
  font-size: 80%;

}


@media (max-width: 599px) {
  .mat-tab-link {
    min-width: 160px !important;
  }
}

@media (max-width: 420px) {
  .mat-tab-link {
    min-width: 72px !important;
  }

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }
}
